@tailwind base;
@tailwind components;
@tailwind utilities;


.active{
    @apply rounded-full bg-gradient-to-t from-verydarkcolor via-darkcolor to-transparent
}


	
.text-anim{
    display: block;
    text-transform: uppercase;
	  background: linear-gradient(to right,  #12242A , #1E3D47 );
    -webkit-background-clip: text;
	  -webkit-text-fill-color: transparent;
}


@layer base {
  body {
    @apply font-primary text-lg leading-8 text-yellow-50	;
  }
  .btn {
    @apply rounded-full bg-gradient-to-t from-verydarkcolor via-darkcolor to-transparent p-2
    h-1/2
  }
  h1 {
    @apply w-min max-[410px]:text-[20px] text-[24px]  lg:text-[35px]  mb-6  uppercase text-verydarkcolor font-bold;
  }
  h2 {
    @apply  text-4xl   mb-6    text-verydarkcolor font-bold;
  }
   section{
    @apply  py-8 lg:py-0 md:mb-8 lg:h-screen md:flex items-center;
}

}