@tailwind base;
@tailwind components;
@tailwind utilities;


.active{
    @apply rounded-full bg-gradient-to-t from-verydarkcolor via-darkcolor to-transparent
}


	
.text-anim{
    display: block;
    text-transform: uppercase;
	  background: linear-gradient(to right,  #12242A , #1E3D47 );
    -webkit-background-clip: text;
	  -webkit-text-fill-color: transparent;
}


@layer base {
  body {
    @apply font-primary text-lg leading-8 text-yellow-50;
  }
  .btn {
    @apply rounded-full bg-gradient-to-t from-verydarkcolor via-darkcolor to-transparent px-3
    h-2/6
  }
  h1 {
    @apply  text-[24px] mb-6  uppercase text-verydarkcolor font-bold;
  }
  h2 {
    @apply  text-[32px]  lg:text-[45px] mb-6  uppercase text-verydarkcolor font-bold;
  }
   section{
    @apply  py-9 lg:py-0 lg:h-screen md:flex items-center;
}

}